

.button {
  border-radius: 40px;
  border: none;
  box-shadow: #9e9e9e 0 0 8px;
  color: rgb(94, 94, 94);
  cursor: pointer;
  font-size: 26px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 700;
  width: 200px;
  height: 200px;
  margin: 10px 0;
  &:hover {
    box-shadow: #333 0 0 8px;
  }
  &:active, &:visited, &:focus {
    box-shadow: #9e9e9e 0 0 2px;
    border: none;
    outline: none;
  }
  .img{
    width: 100px;
  }
  .text {
    width: 160px;
    margin: 0 auto;
    overflow: hidden;
  }
}



@media (max-width: 575px) { 
  .button {
    width: 150px;
    height: 150px;
    font-size: 18px;
    border-radius: 10px;
    .img {
      width: 80px;
    }
    .text {
      width: 100px;
    }
  }
}
