.user {
  display: inline;
  color: white;
  font-size: 18px;
}

.dropDown {
  > a {
    color: white;
    &:hover, &:visited,&:focus {
      color: white;
    }
  }
}

.navBar {
  padding-right: 50px;
}

.flag{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgba(144, 144, 144, 0.5);
}